html,
body{
  height: 100%;
  margin: 0;
}

.canvas-wrap{
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.canvas-board{
  background-color: tomato;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

.canvas-grid{
  margin: 0;
  display: block;
  width: 200px;
  height: 200px;
  display: inline-block;
  float: left;
}

#x{
  background-color: blue;
}

#o{
  background-color: red;
}
