html,
body{
  height: 100%;
  margin: 0;
}

.canvas-wrap{
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.canvas-board{
  background-color: tomato;
}
.canvas-grid{
  margin: 0;
  display: block;
  width: 196px;
  height: 200px;

}
